body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#740001;
    margin: 0;
    background-image: url("hogwarts.jpg");
}

.page {
    padding: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    width: 350px;
    height:40vh;
    background-size: cover;
    background-color:#e7af15;
    font-weight: 700;
    border:5px solid #740001;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color:#740001;
    color:#dcb038;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}
.sign{
    color: #740001;
    text-decoration: none;
}
.sign:hover{
    text-decoration: underline;
}
.submit{
    text-decoration: none;
    color:#e7af15;
}

