* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    border: 2px solid #eeba30;
}

.navbar {
    background-color: #740001;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
}

.icon {
    height: 80px;
    width: 90px;
    border: 2px solid black;
    background-image: url("OIP.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #740001;
}
.icon:hover{
    transform: scale(1.05);
}

.gryff {
    color: #D3A625;
    font-weight: 700;
    width:60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.broom{
    height:80px;
    width:80px;
    color: black;
    display: flex;
    background-image: url("broom.png");
    background-size: cover;
    justify-content: center;
    align-items: center;
    animation : brom 1s linear -2s infinite alternate-reverse;
}
@keyframes brom {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(15px,-15px);
    }
    
}
.fatlady{
    height:90px;
    width:90px;
    background-image: url("fatlady.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.log{
    width:100%;
    color:#740001;
    text-decoration: none;
    background-color: #D3A625;
    display:flex;
    justify-content: center;
    align-items: center;
}

.panel {
    background-color:#D3A625;
    padding: 20px;
    font-weight: 700;
    width: 100%;
    color:#ae0001;
    text-align: center;
    border-top: 2px solid black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.panel:hover{
    transform: scale(1.05);
}
.commonroom{
    display:flex;
    padding:0;
}
.common{
    height: 700px;
    width:45%;
    border:2px solid black;
    background-image: url("common.jpg");
    background-size: cover;
}
.room {
    height: 700px;
    width:55%;
    border:2px solid black;
    background-color: #ae0001;
}
.welcome{
    padding-top: 80px;
    padding-left: 80px;
    color:#D3A625;
    text-align: left;
    font-weight: 700;
}
.head{
    font-size:3rem;
}
.inn{
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}
.crook{
    height:300px;
    width:250px;
    background-image: url("crook.png");
    background-size: cover;
    border-top-left-radius:50%;
    position: absolute;
    right:0;
    bottom:0;
    
}
.crook:hover{
    height:400px;
    width:300px;
}
:root {
    --card_width: 300px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 26;
    --card_medium: 33;
    --card_large: 45;
}
.wiz{
    border:2px solid black;
    background-color:#D3A625;
    height:1100px;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    font-size: larger;
    color:#740001;
    padding: 20px;
}

.heros {
    margin: 0;
    padding: 20;
    width: 95vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: space-evenly;
}
.card {
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color:  rgba(130, 106, 106, 0.2);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    border:2px solid #740001;

}
.card_medium {
    grid-row-end: span var(--card_medium);
}
.name{
    height:20px;
    width:100%;
    background-color: #740001;
    color:#D3A625
}
.card:hover {
    transform: scale(1.05);
    box-shadow:#740001;
    border:4px solid #740001;
}
.news{
    height:1000px;
    background-color: #740001;
    padding:100px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.dai{
    height:100px;
    width:400px;
    background-color: #D3A625;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    bottom: 20px;
    left:40%;
    border:10px solid #ae0001;
    border-radius: 25px;
}
.pro{

    justify-content: space-evenly;
    height:30px;
    width:100%;
}
.new{
    padding: 20px;
    margin: 25px;
    height:100px;
    width:100%;
    color:#740001;
    background-color: #D3A625;
    border:2px solid black;
    justify-content: center;
    font-size: medium;
    font-weight: 700;
    border-radius: 25px;
}
.new:hover{
    transform: scale(1.05);
    border-radius: 25px;
    font-weight: 700;
}
.pass{
    height:100px;
    width:100%;
    background-color: #D3A625;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button{
    height:60px;
    width:60px;
    border-radius: 25px;
    background-color:#740001;
    color:#D3A625;
}




