* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#740001;
    background-image: url("hogwarts.jpg");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: #e7af15;
    border:5px solid #740001;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.signup-form {
    width: 100%;
}

.signup-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #740001;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.05);
    background-color: #740001;
}

p {
    text-align: center;
    margin-top: 15px;
    color:#740001;
}

p a {
    color:#740001;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
.submit{
    text-decoration: none;
    color:#e7af15;
}